# Autoformatter friendly flake8 config (all formatting rules disabled)
[flake8]
max_line_length = 256
extend-ignore = E1, E2, E3, E501, W1, W2, W3, W5, E203, W503
# ^  Black-compatible: E203 and W503 have edge cases handled by black
exclude =
    .tox
    build
    dist
    .eggs
    docs/conf.py
